<h1>Listing clusters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Release</th>
    <th>Cluster</th>
    <th>Region</th>
    <th>Type</th>

  </tr>

<% for cluster in @clusters %>
  <tr>
    <td><%=link_to cluster.name, cluster %></td>
    <td><%=h cluster.state.name %></td>
    <td><%=h cluster.release.name %></td>
    <td><%=h cluster.group_list %></td>
    <td><%=h cluster.region_list %></td>
    <td><%=h cluster.type_list %></td>
    <td><%= link_to 'Edit', edit_cluster_path(cluster) %></td>
    <td><%= link_to 'Delete', cluster, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cluster', new_cluster_path %>
