  <h1><%=link_to @release.name, @release %> \ Dashboard</h1>
 
<h2>Clusters</h2>
<table border="0">
<tr>
	<th><%= link_to_unless_current 'Cluster', :sort => :cluster %></th>
	<th><%= link_to_unless_current 'Status', :sort => :status %></th>
</tr>
<% for cluster in @clusters do %>
	<tr>
	<td>
		<span style="background-color:<%= cluster.state.id != State.last.id ? "red" : "green" %>;padding:10px;margin-right:10px;">&nbsp;</span>
		<%= cluster.name %></td>
	<td><%= cluster.state.id != State.last.id ? "Shunted" : "Released To Web" %></td>
</tr>
<% end %>
</table>


