<h1>New release</h1>

<% form_for(@release) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :release_date %><br />
    <%= f.date_select :release_date %>
  </p>
  <p>
	<%= f.label 'Copy Cluster and Assignments from a prior Release' %><br />
	<%= collection_select :release_to_clone, :id, Release.find(:all), :id, :name, {:prompt => :true} %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', releases_path %>
