<h1>New Team Assignment </h1>
for <%=@cluster.name%> (<%= @cluster.release.name%>)
<% form_for(@team_assignment) do |f| %>
  <%= f.error_messages %>

    <%#= f.label :cluster_id %>
    <%#= f.collection_select :cluster_id, Cluster.find(:all), :id, :name, {:prompt => :true} %>
	<%= f.hidden_field :cluster_id %>
  <p>
    <%= f.label :team_id %><br />
    <%= f.collection_select :team_id, Team.find(:all), :id, :name, {:prompt => :true} %>
  </p>
    <% @team_assignment.state_id = State.find_by_name("RTT").id %>
    <%#= f.label :state_id %><br />
    <%#= f.collection_select :state_id, State.find(:all), :id, :name %>
	<%= f.hidden_field :state_id %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cluster_path(@cluster) %>
