<p>
  <b>Cluster:</b>
  <%=h @team_assignment.cluster_id %>
</p>

<p>
  <b>Team:</b>
  <%=h @team_assignment.team_id %>
</p>

<p>
  <b>State:</b>
  <%=h @team_assignment.state_id %>
</p>

<p>
  <b>Push to next state:</b>
  <%=h @team_assignment.signed_off %>
</p>


<%= link_to 'Edit', edit_team_assignment_path(@team_assignment) %> |
<%= link_to 'Back', team_assignments_path %>
